doctype 5
html
  head
    title Chat App
    link(rel="stylesheet", href="/public/css/normalize.css" )
    link(rel="stylesheet", href="/public/css/simplecss.css" )
    link(rel="stylesheet", href="/public/css/utilities.css" )
    link(rel="stylesheet", href="/public/css/custom.css" )

  body
    .container
      .row
        .four.items
          h1 Chat App
        form.register.eight.row.middle.around(action="")
          input.ten.items.username(autcomplete="off")
          button.two.items Register
      .tower.u-flex
        .items.u-flex
          ul.messages
        .row.middle
          form.sendmsg.any.items(action="")
            input.msg(autocomplete="off")
            button Send
      .row.footer
        .any.items.u-text-center
          p Copyright 2016 Mohammad Samiul Islam

    script( src="/socket.io/socket.io.js")
    script( src="https://code.jquery.com/jquery-3.0.0.min.js")
    script( src="/public/js/index.js")
