doctype 5
html
  head
    title Chat App
    link(rel="stylesheet", href="/public/css/normalize.css" )
    link(rel="stylesheet", href="/public/css/simplecss.css" )
    link(rel="stylesheet", href="/public/css/utilities.css" )
    link(rel="stylesheet", href="/public/css/custom.css" )

  body
    .container
      .row
        .any.items
          h1 Chat App
      .tower.u-flex
        .items.u-flex
          ul#messages
        .row.middle
          form.any.items(action="",onsubmit="return sendMessage()")
            input#m(autocomplete="off")
            button Send
      .row.footer
        .any.items.u-text-center
          p Copyright 2016 Mohammad Samiul Islam

    script( src="/socket.io/socket.io.js")
    script( src="https://code.jquery.com/jquery-3.0.0.min.js")
    script.
      var socket = io();
      function sendMessage(){
        let msg = $('#m').val();

        ///Don't allow blank strings
        if ( msg == '' ) return false;

        socket.emit('chat message', msg );
        $('#m').val('');

        return false;
      };

      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));

        ///Scroll the document down
        $('html,body').scrollTop(100000000000000000);
      });
