/* Uncomment and set these variables to customize the grid. */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;

  min-height: 99vh;

  display: -webkit-flex; display: -ms-flexbox; display: -webkit-box;
  display: flex;

  -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal;
  flex-direction: column;
}

.row {
  box-sizing: border-box;

  display: -webkit-flex; display: -ms-flexbox; display: -webkit-box;
  display: flex;

  -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex: 0 1 auto;

  -webkit-flex-direction: row; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal;
  flex-direction: row;

  -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-right: 0.5 rem;
  margin-left: 0.5 rem;
}

.tower {
  box-sizing: border-box;

  display: -webkit-flex; display: -ms-flexbox; display: -webkit-box;
  display: flex;

  -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex: 0 1 auto;

  -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal;
  flex-direction: column;

  -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-right: 0.5 rem;
  margin-left: 0.5 rem;

}

.row.reverse {
  -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -webkit-box-orient: horizontal; -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.item.reverse {
  -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; -webkit-box-orient: vertical; -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.items, .item {
  box-sizing: border-box;

  -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; -webkit-box-flex: 0;
  flex: 0 0 auto;

  padding-right: 1rem;
  padding-left: 1rem;
}

.any {
  -webkit-flex-grow: 1; -ms-flex-positive: 1; -webkit-box-flex: 1;
  flex-grow: 1;

  -ms-flex-preferred-size: 0; -webkit-flex-basis: 0;
  flex-basis: 0;

  max-width: 100%;
}

.one {
  -ms-flex-preferred-size: 8.333%; -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.two {
  -ms-flex-preferred-size: 16.667%; -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.three {
  -ms-flex-preferred-size: 25%; -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.four {
  -ms-flex-preferred-size: 33.333%; -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.five {
  -ms-flex-preferred-size: 41.667%; -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.six {
  -ms-flex-preferred-size: 50%; -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.seven {
  -ms-flex-preferred-size: 58.333%; -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.eight {
  -ms-flex-preferred-size: 66.667%; -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.nine {
  -ms-flex-preferred-size: 75%; -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.ten {
  -ms-flex-preferred-size: 83.333%; -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.eleven {
  -ms-flex-preferred-size: 91.667%; -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.twelve {
  -ms-flex-preferred-size: 100%; -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.offset-by-1 {
  margin-left: 8.333%;
}

.offset-by-2 {
  margin-left: 16.667%;
}

.offset-by-3 {
  margin-left: 25%;
}

.offset-by-4 {
  margin-left: 33.333%;
}

.offset-by-5 {
  margin-left: 41.667%;
}

.offset-by-6 {
  margin-left: 50%;
}

.offset-by-7 {
  margin-left: 58.333%;
}

.offset-by-8 {
  margin-left: 66.667%;
}

.offset-by-9 {
  margin-left: 75%;
}

.offset-by-10 {
  margin-left: 83.333%;
}

.offset-by-11 {
  margin-left: 91.667%;
}

.start {
  -webkit-justify-content: flex-start; -ms-flex-pack: start; -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -webkit-justify-content: flex-end; -ms-flex-pack: end; -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-align-items: flex-start; -ms-flex-align: start; -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -webkit-align-items: flex-end; -ms-flex-align: end; -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -webkit-justify-content: space-around; -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -webkit-justify-content: space-between; -ms-flex-pack: justify; -webkit-box-pack: justify;
  justify-content: space-between;
}

.first {
  -webkit-order: -1; -ms-flex-order: -1; -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -webkit-order: 1; -ms-flex-order: 1; -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 960px;
  }
}
