.u-debug {
  border: 1px solid red;
}

.u-flex {
  -webkit-flex: 1; -ms-flex: 1; -webkit-box-flex: 1;
  flex: 1;
}


/*Text
**********************************/
.u-text-center{
  text-align: center;
}
